.App {
  background-color: #dae0e6;
  /* margin: 0px 30px; */
  /* padding-top: 3%; */
  /* box-shadow: 1px 1px 15px #00000030; */
}

.nav-item {
  z-index: 999;
}

a:hover {
  cursor: pointer;
}

.logout {
  background-color: #ffffff00;
  opacity: 1;
  border: 0px;
}

.hide {
  display: none !important;
}

.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: normal;
  justify-items: center;
}

.post-container div:nth-child(4) {
  justify-self: end !important;
}

.post-container div:nth-child(3) {
  justify-self: center !important;
}
.post-container div:nth-child(2) {
  justify-self: center !important;
}

@media only screen and (max-width: 600px) {
  .post-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px !important;
    justify-items: left;
    transform: translate(-6px, 0px);
  }

  .post-container div:nth-child(4) {
    justify-self: center !important;
  }

  .post-container div:nth-child(3) {
    justify-self: center !important;
  }
  .post-container div:nth-child(2) {
    justify-self: center !important;
  }
  .post-container div:nth-child(1) {
    justify-self: center !important;
  }
}

.card-img-overlay {
  position: relative;
}

.featured {
  padding-top: 30px;
  padding-bottom: 10px;
}

.card {
  justify-self: stretch !important;
  /* width: 18rem !important; */
  box-shadow: 1px 1px 9px #0000004a;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .grid-card {
    width: 11rem !important;
    max-height: 160px;
  }
  h5 {
    font-size: 1rem !important;
  }
}

.card-img-top {
  width: 18rem;
}

.card-grid {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: '. .';
}

.card-body {
  align-items: center !important;
}

.grid-card {
  justify-self: stretch;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

.thread {
  margin: auto;
  display: block;
  width: 75%;
  margin-top: 3%;
}

.input-container {
  padding-top: 5%;
  transform: translate(25%);
}

input {
  padding: 10px;
  display: block;
  width: 50%;
  margin: auto;
}
.select {
  padding: 10px;
  display: block;
  width: 50%;
  /* margin: auto; */
}

label {
  margin: auto;
  width: 50%;
}

.signup {
  width: 50%;
  margin: auto;
}

.form-check-input {
  position: absolute;
  top: 6%;
  left: -22%;
}

.sticky {
  background: white;
  box-shadow: 1px 1px 15px #00000025;
  position: fixed;
  top: 10%;
  right: 3%;
}

.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.user-container {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr;
  grid-template-rows: 1.3fr;
  gap: 1px 1px;
  grid-template-areas: 'top Profile' 'bottom Profile';
}

.Profile {
  grid-area: Profile;
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

.pull-right {
  float: right !important;
}

.top-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: '. .';
}

.profile-pic {
  width: 50%;
  float: right;
  border-radius: 10px;
}

.username {
  align-self: center;
}

.home-container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: 'main sidebar';
}

@media only screen and (max-width: 600px) {
  .home-container {
    grid-template-columns: 1fr;
  }
  .btn-primary {
    margin-left: 0 !important;
    margin-bottom: 5px;
  }
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.delete-form {
  display: inline-block;
}

.post-comment {
  /* display: inline-flex; */
  /* padding: 10px 0% 10px 10%; */
  width: 100%;
}

img.profile-photo-sm {
  height: auto;
  max-width: 100%;
  /* border-radius: 50%; */
  /* margin-left: -10px; */
  object-fit: cover;
}

.comment-body {
  padding: 10px 20px 5px 10px !important;
}

.comment-grid {
  display: grid;
  grid-template-columns: 0.12fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: 'comment-pic comment-area comment-area comment-area';
}

.comment-area {
  grid-area: comment-area;
}

.comment-pic {
  grid-area: comment-pic;
  align-self: center;
  justify-self: center;
}

.picture {
  background-image: url('https://bootdey.com/img/Content/avatar/avatar1.png') !important;
  height: 100px;
  width: auto;
  background-repeat: repeat-x;
}
